// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

*{
    margin: 0;
    padding: 0;
}

body {
    background: #fff;
    margin: 33px;
}

a {
    color:#666;
}

a:hover {
    background-color: #000;
    color: #fff;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

h4 {
    font-weight: normal;
}

p {
    line-height: 50px;
}


table {
    margin: 10px 0 ;
}

td {
    font-size: 13px;
    padding:0 10px 7px;
}


.success {
    color:green;
    margin: 33px;
}

.btn {
    display: block;
}

.error {
    padding: 7px;
    padding-bottom: 0;
    margin-bottom: 20px;
}


.btn-1 {
    padding-right: 5px;
    border-right: 1px solid #000;
}
